# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\办公\营销\Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
